<div class="marketplace-main">

  <!-- Top Banner -->
  <app-top-banner
    [background_color]="'rgb(36, 46, 53)'"
    [img_src]="'assets/marketplace/bg-img.jpg'"
    [title]="'Discover wine investing'"
    [desc]="'Learn why wine investing not only delivers delight, but also consistent returns that have outpaced the stock market.'"
    [btn_text]="'Get Started'"
  ></app-top-banner>
  <!-- End Top Banner -->

  <!-- Steady Yields -->
  <app-generic-banner
    [small_title]="'PERFORMANCE YOU CAN SEE ... AND TASTE'"
    [title]="'Steady yields'"
    [desc]="'Fine wine has outperformed the Global Equity Index for the past 15 years, including during downturns.'"
  ></app-generic-banner>
  <!-- End Steady Yields -->

  <!-- Options -->
  <app-options></app-options>
  <!-- End Options -->

  <!-- Graph-->
  <app-graph></app-graph>
  <!-- End Graph -->

  <!-- Explain -->
  <app-explain></app-explain>
  <!-- End Explain -->
</div>
