
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$indigo-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat.define-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

@import 'bootstrap/dist/css/bootstrap.min.css' ;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.walletconn-main .mat-dialog-container{
  background: #2c2d30;
  border-radius: 15px;
  width: 420px;
  padding : 30px;
}
.walletconn-backdrop {
  backdrop-filter: blur(4px);
}

.landing-main {
  .aquarius-slide {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 400px;
    width : 80% ;
    gap: 50px;

    margin-top: 80px;

    cursor: pointer;

    .swiper {
      height: 100%;

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        color : black ;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .game-slide {
    display: flex;
    justify-content: center;
    align-items: center;

    width : 90% ;

    margin-top: 50px;

    cursor: pointer;

    .swiper {
      height: 100%;

      .swiper-slide {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .swiper-slide img{
        max-width: 1200px;
        width: 100%;
      }

      .swiper-slide video {
        max-width: 1200px;
        width: 100%;
      }

      .swiper-pagination {
        bottom : 0;
      }

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        background-color: lightgray;
      }
    }
  }
}
